#hit {
	float: left;
	margin-right: 10px;
}

#stay {
	float: left;
	margin-right: 50px;
}

#double {
	float: left;
}

.card_image {
	margin: 0px 5px 5px 0px;
}

#yes {
	float: left;
	margin-right: 10px;
}

#no {
	float: left;
}